# Don't track content of these folders
**/modelv2/wav_train_subset/
**/modelv2/wav_test_subset/
**/modelv2/checkpoints/
**/modelv2/local_work/
**/modelv2/recordings/
**/modelv2/stft*/
**/__pycache__/
**/.ipynb_checkpoints/
**/modelv2/datasets/
**/modelv2/audio/
**/modelv2/deepspeech_data/
**/modelv2/*stft*/
**/modelv2/*docker*/
# toy_modelv1/
**/vggvox1/
**/*docker*/
# **/*streamlit*/
# **/*_st.py
**backup*/
**/OS_deployment/
src/
./data/
tests/
res/

**/modelv2/recorder.py
**/setup**
**/streamlit_deploy.py
**/test_only_with_testsets.py

#Github structure
!model/**/deepspeech_data/
!model/**/checkpoints/
**/environment.yml

# note files
**.txt
!**/requirements.txt


# AWS specific file
**/setupec2.sh


# locally working files
**/realtime.py
**/modelv2/audioset/
**/local**
**/speaker_models.pkl
**speaker_phrases.pkl
**/modelv2/Dockerfile


**/audio_file_test.ipynb
# Docker files
#**Dockerfile
#**.dockerignore


# Transfer Learning Weights
**.mat
**.h5
**.ckpt

#  Large files
**.wav
**.mp3
**.m4a
**.flac
**.npy
**.npz
**.csv
**.png
**.pbmm
**.scorer

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
**.7z
**.dmg
**.gz
**.iso
**.jar
**.rar
**.tar
**.zip

pyenv/
